.header{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/399161/pexels-photo-399161.jpeg?auto=compress) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.header .title{
    text-align: left;
    padding-left:50px;
}
.header .arrow-down{
    position: absolute;
    bottom:0;
    width:100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size:2rem;
    font-weight: bold;
    color: darkslateblue;
    background-image: linear-gradient(180deg, rgb(73, 73, 73), transparent);
    transform: rotate(180deg);
}
.header .arrow-down span{
    cursor: pointer;
}