.table {
  display: flex;
  justify-content: center;
}
.table table {
  margin-top: 50px;
}
.table th {
  border-top: none;
}
.table thead th {
  /* border-bottom: 2px solid peachpuff; */
  width: 150px;
  /* padding-left:10px; */
}
.table tr {
  border-color: transparent;
}
.table td {
  border-right: 2px solid peachpuff;
  text-align: center;
}
.table tbody tr:nth-child(1) td {
  border-top: 3px solid salmon;
}
.table button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
.table button:hover {
  text-decoration: none;
  color: #333;
}
@media screen and (max-width: 767px) {
  .table {
    font-size: 12px;
  }
}
