.loader-bubble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 200px;
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 2px;
}
.bubble-child {
  box-sizing: border-box;
  border-radius: 50%;
  background-color: darkslateblue;
  animation: in-out-all 350ms alternate infinite ease;
}
.bubble-second {
  animation-delay: 100ms;
}
.bubble-third {
  animation-delay: 200ms;
}
@keyframes in-out-all {
  0% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

.inline {
  display: inline-flex;
  margin: 0;
}
.inline .bubble {
  width: 12px;
  height: 12px;
}
.inline .bubble-child {
  background-color: #fff;
  animation: in-out-small 350ms alternate infinite ease;
}
.inline .bubble-second {
  animation-delay: 100ms;
}
.inline .bubble-third {
  animation-delay: 200ms;
}
@keyframes in-out-small {
  0% {
    width: 12px;
    height: 12px;
  }
  100% {
    width: 6px;
    height: 6px;
  }
}
